
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* start header */
.header{
    padding: 10px 0 10px 20px;
}
#logo{
    height: 50px;
    vertical-align: middle;
}

.title{
    display: inline-block;
    vertical-align: middle;
}
/* end header */

main{
    background-color:blue; 
    padding: 20px 0 5px 0;
}

.container{
    height: 400px;
    width: 60%;
    margin: 30px auto;
    background-color: red;
    
}

.btn{
    padding: 15px;
    border: 1px solid black;
    background-color: white;
    padding-left: 40px;
    border-radius: 5px 5px 0 0;
    
}

.active{
    background-color: #47ADF1;
    border-radius: 10%;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border: none;
    color: white;
}

.turned-off{
    background-color: white;
    border-radius: 10%;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border: none;
    color: lightgray;
    border: 1px solid lightgray;

}

ul{
    list-style-type: none;
    padding-left: 40px;
}